<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../static/styles/chat.css" />
  </head>
  <body>
    <div class="slide">
      <div class="main">
        <div class="head">
          <div class="frame"><img class="img" src="img/head-1.svg" /></div>
          <div class="div">
            <div class="div-wrapper"><div class="text-wrapper">Новости</div></div>
            <div class="div-wrapper"><div class="text-wrapper">Мероприятия</div></div>
            <div class="div-wrapper"><div class="text-wrapper">Партнеры</div></div>
            <div class="frame-2"><div class="text-wrapper">Еще</div></div>
          </div>
          <div class="frame-3">
            <div class="ellipse"></div>
            <div class="frame-4">
              <div class="frame-5"><div class="text-wrapper">Регистрация</div></div>
              <div class="frame-6"><div class="text-wrapper-2">Войти</div></div>
            </div>
          </div>
        </div>
        <div class="frame-7"></div>
        <div class="chat">
          <div class="frame-8">
            <div class="frame-9"><div class="text-wrapper-3">Messages</div></div>
            <div class="frame-10">
              <div class="rectangle"></div>
              <div class="search" placeholder="search" type="text">search</div>
            </div>
            <div class="frame-11">
              <img class="frame-12" src="img/frame-302.png" />
              <div class="frame-13">
                <div class="name" placeholder="Name" type="text">Name</div>
                <div class="message-wrapper"><div class="text-wrapper-4">Message</div></div>
              </div>
              <div class="frame-13">
                <div class="frame-14"><div class="dec">dec 01</div></div>
                <div class="frame-14"><div class="ellipse-2"></div></div>
              </div>
            </div>
          </div>
          <div class="frame-15">
            <div class="frame-wrapper">
              <div class="frame-16">
                <div class="frame-17">
                  <p class="p">УрФУ, ИРИТ-РтФ, Прикладная информатика<br />Пупкин Василий Иванович</p>
                </div>
              </div>
            </div>
            <div class="chat-2">
              <div class="frame-18">
                <div class="frame-19">
                  <div class="frame-20">
                    <div class="frame-21"><div class="text-wrapper-5">10:26PM</div></div>
                    <div class="name-wrapper" placeholder="Name" type="text">Name</div>
                  </div>
                  <div class="frame-22"><div class="text-wrapper-3">text</div></div>
                </div>
                <div class="ellipse-wrapper"><img class="ellipse-3" src="img/ellipse-423.png" /></div>
              </div>
              <div class="frame-23">
                <div class="ellipse-wrapper"><img class="ellipse-3" src="img/ellipse-29.png" /></div>
                <div class="frame-19">
                  <div class="frame-24">
                    <div class="name-wrapper" placeholder="Name" type="text">Name</div>
                    <div class="frame-21"><div class="text-wrapper-5">10:26PM</div></div>
                  </div>
                  <div class="frame-25"><div class="text-wrapper-3">text</div></div>
                </div>
              </div>
            </div>
            <div class="frame-26">
              <div class="icons-wrapper"><img class="icons" src="img/icons8-32-132.png" /></div>
              <div class="frame-27"><div class="text-wrapper-6">write a message...</div></div>
              <div class="frame-28"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="frame-29">
          <div class="text-wrapper-7">Кампус</div>
          <p class="text-wrapper-4">Екатеринбург — студенческая<br />столица в России!</p>
          <div class="text-wrapper-4">Подпишись на наши соцсети</div>
        </div>
        <div class="frame-30">
          <div class="frame-10"><div class="rectangle-2"></div></div>
          <div class="frame-31">
            <div class="frame-32">
              <div class="frame-33">
                <div class="text-wrapper-8">Новости</div>
                <div class="text-wrapper-9">Партнеры</div>
                <div class="text-wrapper-9">Мероприятия</div>
                <div class="text-wrapper-9">Контакты</div>
              </div>
              <div class="frame-34">
                <div class="text-wrapper-10">Политика конфиденциальности</div>
                <p class="text-wrapper-11">Согласие на обработку персональных данных</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
